<!DOCTYPE html>
<html lang="en">
    <header>
        <h1><a href="/">Django Girls Blog</a></h1>
    </header>
    
    {% for post in posts %}
        <article>
            <time>published: {{ post.published_date }}</time>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
<body>

    <header>
        <h1>Willkommen auf meiner Webseite</h1>
        <!-- Füge hier weitere Header-Elemente hinzu -->
       
    </header>

    <nav>
        <!-- Füge hier Navigationslinks hinzu -->
        <ul>
            <li><a href="#">Startseite</a></li>
            <li><a href="#">Über uns</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </nav>

    <main>
        <!-- Hier kommt der Hauptinhalt deiner Webseite -->
        <section>
            <h2>Über uns</h2>
            <p>Das ist der Text über uns.</p>
        </section>

        <section>
            <h2>Kontakt</h2>
            <p>Hier sind unsere Kontaktdaten.</p>
        </section>
    </main>

    <footer>
        <!-- Hier kommt der Footer deiner Webseite -->
        <p>&copy; 2023 Meine Webseite. Alle Rechte vorbehalten.</p>
    </footer>

</body>
</html>
